main.main>.home__social{
  @apply fixed vsm:top-24 md:top-12 vsm:left-10 md:left-14 flex flex-col items-center justify-start;
}

main.main>.home__social>.social-tag{
  @apply my-4 cursor-pointer;
}

main.main>.home__social>.social-tag>.social-icon{
  @apply cursor-pointer;
}

main.main>.home__social>.vline-left{
  height: 35vh;
  width: 2px;
  @apply bg-prime md:block vsm:hidden opacity-55;
}

main.main>.mail-info>.vline-right{
  height: 35vh;
  width: 2px;
  @apply bg-prime md:block vsm:hidden opacity-55;
}


main.main>.mail-info{
  @apply md:fixed md:bottom-0 md:right-14 md:flex vsm:hidden md:flex-col md:items-center md:justify-center
}

main.main>.mail-info>.mail-data{
  text-orientation: mixed;
  writing-mode: vertical-rl;
  @apply text-lg text-prime pb-2 opacity-55 font-mono;
}
