<a href="{{this.url}}" target="_blank"
    class="flex-shrink-0 scroll-smooth group relative w-72 h-60  overflow-hidden p-6 shadow-slate-50 dark:shadow-none shadow-xl bg-neutral-200 dark:bg-neutral-800 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl vsm:max-w-sm vsm:rounded-lg ">
    <span
        class="absolute top-10 z-0 h-20 w-20 rounded-full group-hover:bg-indigo-400 cursor-none transition-all duration-300 group-hover:scale-[10]"></span>
    <div class="relative z-10 h-full mx-auto max-w-md flex flex-col justify-between ">
        <div
            class="space-y-6 pt-5 leading-7 text-wrap text-gray-500 dark:text-gray-400 font-semibold font-mono transition-all duration-300 group-hover:text-white/90">
            {{this.title}}
        </div>
        <div class="pt-5 text-base font-semibold font-mono leading-7 ">
            <span class="text-indigo-400 transition-all duration-300 group-hover:text-white">Read the content &rarr;
            </span>
        </div>
    </div>
</a>