<section class="blogs section container" >
    <div class="section-header">
        <h1 class="section__title">{{blogs.title}}</h1>
        <div class="hline"></div>
    </div>
    <div>
        <h3 class="section_description">{{blogs.description}}</h3>
    </div>
    <div class="blogs__content" id="blogs-list"> 
        {{!-- <div class="qualification__item" data-date="2010-2012" data-inst="NIT DGP">M.tech</div> --}}
        {{#each blogs.items}}
            {{> blogs_card }}
        {{/each}}
    </div>
    {{!-- <div class="btn-scroll-left">
            <button id="show-more-btn"><i class="uil uil-angle-right-b"></i></button>
        <a>left</a>
    </div> --}}
</section>