
<div
    class="flex-shrink-0 group relative w-100 h-64 cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10">
    <span class="absolute top-10 z-0 h-20 w-20 rounded-full bg-indigo-400 transition-all duration-300 group-hover:scale-[10]"></span>
    <div class="relative z-10 mx-auto max-w-md">
        <span class="grid h-20 w-20 place-items-center rounded-full bg-indigo-400 transition-all duration-300 group-hover:bg-indigo-600">
          <i class="icon-blogs social-icon"></i>
        </span>
        <div
            class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90">
            <p>{{this.title}}</p>
        </div>
        <div class="pt-5 text-base font-semibold leading-7">
            <p>
                <a href={{this.url}} target="_blank" class="text-indigo-600 transition-all duration-300 group-hover:text-white">Read the docs
                    &rarr;
                </a>
            </p>
        </div>
    </div>
</div>