<section class="blogs section container" id="blogs">
    <div class="section-header">
        <h1 class="section__title">{{blogs.title}}</h1>
        <div class="hline"></div>
    </div>
    <div>
        <h3 class="section_description">{{blogs.description}}</h3>
    </div>
    <div class="blogs__contentainer">
        <button class="btn-scroll-left" id="slide-left">&#171;</button>
        <div class="blogs__content" id="blogs-list"> 
            {{#each blogs.items}}
                {{> blogs_card }}
            {{/each}}
        </div>
        <button class="btn-scroll-right" id="slide-right">&#187;</button>
    </div>
</section>