<section class="contact " id="contact">
    <div class="container">
        <h1 class="section__title">{{ contact.title }}</h1>
        <p class="section_description"> {{contact.description}}</p>
        <div class="contact__content">
            <span class=" mail-data ">{{personal.mail}}</span>
        </div>
    </div>
</section>