<section class="contact " id="contact">
    <div class="container">
        <h1 class="section__title">Get In Touch </h1>
        <p class="section_description">
            Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
        </p>
        <div class="contact__content">
            <span class=" mail-data ">{{personal.mail}}</span>
        </div>
    </div>
</section>