<footer class="footer">
    <div>
        <small>{{ footer.line1 }} </small>
        <a href={{ footer.repolink }} target="_blank" >
            <i class="icon-git-branch footer-icon"></i>
        </a>
    </div>
    <div>
        <small>{{ footer.line2 }}</small>
    </div>
</footer>