<footer class="footer">
    <div>
        <small>{{ footer.line1 }} </small>
        <a href={{ footer.repolink }} target="_blank" >
            <i class="icon-git-branch footer-icon"></i>
        </a>
    </div>
    <div>
        <a class="footer-info" href={{ personal.github }} target="_blank" >
            <small>{{ footer.line2 }}</small>
            {{!-- <img src="assets/vite.svg" alt="vite-logo"> --}}
        </a>
    </div>
</footer>