<section class="home" id="home">
    <div class="home__content container">
        <picture class="home__img">
            <img src="assets/person.png" alt="" class="rounded-lg">
        </picture>
        <div class="home__data">
            <h1 class="home__title">{{ title }} </h1>
            <h3 class="home__subtitle">{{ sub_title }}</h3>
            <p class="home__description">{{ content }}</p>
            <a href="#contact" class="btn">contact me </a>
        </div>        
    </div>
</section>