<header id='header-top'>    
    <nav >
        <span class="nav__logo">Rahul 
            <!--  <img src="assets/logo.png" alt="logo image" > -->
        </span>
        <button class="nav__btn" id="nav-btn">
            <i class="icon-menu svg-icon"></i>
        </button>
        <ul class="nav__menu hide-menu" id ="nav-menu">
            <li class="nav__item">
                <a href="#experience" class="nav__link"><i class="icon-experience  svg-icon nav__icon"></i>Experience</a>
            </li>
            <li class="nav__item">
                <a href="#education" class="nav__link"><i class="icon-education svg-icon nav__icon"></i>Academic</a>
            </li>
            <li class="nav__item">
                <a href="#project" class="nav__link"><i class="icon-projects svg-icon nav__icon"></i>Project</a>
            </li>
            <li class="nav__item">
                <a href="#contact" class="nav__link"><i class="icon-contacts svg-icon nav__icon"></i>Contact</a>
            </li>
        </ul>
    </nav>
</header>