<header id='header-top'>    
    <nav >
        <span class="nav__logo">Rahul 
            <!--  <img src="assets/logo.png" alt="logo image" > -->
        </span>
        <button class="nav__btn" id="nav-btn">
            {{!-- <i class="icon-menu svg-icon"></i> --}}
            <span>
                <svg viewBox="0 -960 960 960" width="24" height="24" class="fill-neutral-800 dark:fill-neutral-200" id="nav-btn-menu-icon">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                </svg>
                <svg viewBox="0 0 24 24" width="24" height="24" class="fill-neutral-800 dark:fill-neutral-200 hidden" id="nav-btn-cross-icon">
                    <path d="M18,6h0a1,1,0,0,0-1.414,0L12,10.586,7.414,6A1,1,0,0,0,6,6H6A1,1,0,0,0,6,7.414L10.586,12,6,16.586A1,1,0,0,0,6,18H6a1,1,0,0,0,1.414,0L12,13.414,16.586,18A1,1,0,0,0,18,18h0a1,1,0,0,0,0-1.414L13.414,12,18,7.414A1,1,0,0,0,18,6Z"/>
                </svg>
            </span>
            
        </button>
        <ul class="nav__menu hide-menu" id ="nav-menu">
            <li class="nav__item">
                <a href="#overview" class="nav__link"><i class="icon-experience  svg-icon nav__icon"></i>Experience</a>
            </li>
            <li class="nav__item">
                <a href="#blogs" class="nav__link"><i class="icon-education svg-icon nav__icon"></i>Blogs</a>
            </li>
            <li class="nav__item">
                <a href="#project" class="nav__link"><i class="icon-projects svg-icon nav__icon"></i>Project</a>
            </li>
            {{!-- <li class="nav__item">
                <a href="#contact" class="nav__link"><i class="icon-contacts svg-icon nav__icon"></i>Contact</a>
            </li> --}}
            <li class="nav__item">
                <button class="nav__link" id="theme_btn">
                    <i class="icon-sun svg-icon" id="theme_icon"></i>
                    <span class="md:hidden">Toggle Display Mode</span>
                </button>
            </li>
        </ul>
    </nav>
</header>