<div class="home__social">
    <div class="vline-left"></div>
    
    <a href={{ personal.github }} target="_blank" class="social-tag">
        <i class="icon-github social-icon"></i>
    </a>
    <a href={{ personal.twitter }} target="_blank" class="social-tag">
        <i class="icon-twitter social-icon"></i>
    </a>

    <a href={{ personal.linkedin }} target="_blank" class="social-tag" style="cursor: pointer;">
        <i class="icon-linkedin social-icon "></i>
    </a>
</div>
<div class="mail-info">
    <div class="mail-data">
        {{personal.mail}}
    </div>
    <div class="vline-right"></div>
</div>